<?xml version="1.0" ?>
<model>
    <name>RoboCup 3D Simulation Ball</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
	<name>Carlos Agüero</name>
	<email>caguero@osrfoundation.org</email>
        <name>Seyed Yaghoub Ashkoofaraz</name>
        <email>y.ashkoofaraz@yahoo.com</email>
    </author>
    <description>A RoboCup 3D simulation ball.</description>
</model>
